<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="TemperatureUnit" value="Celsius" />
		<add key="PercentageUnit" value="Percentage" />
		<add key="HeartFrequencyUnit" value="Beats per minute" />
		<add key="BreathFrequencyUnit" value="Revolutions per minute" />
		<add key="BloodPressureUnit" value="Millimeters of mercury" />

		<add key="TemperatureUnitSymbol" value="°C" />
		<add key="PercentageUnitSymbol" value="%" />
		<add key="HeartFrequencyUnitSymbol" value="BPM" />
		<add key="BreathFrequencyUnitSymbol" value="RPM" />
		<add key="BloodPressureUnitSymbol" value="mmHg" />

		<add key="TemperatureMinValue" value="35,0" />
		<add key="SaturationMinValue" value="80" />
		<add key="HeartFrequencyMinValue" value="40" />
		<add key="BreathFrequencyMinValue" value="6" />
		<add key="BloodPressureMinValue" value="60" />
		<add key="BatteryMinValue" value="0" />

		<add key="TemperatureMaxValue" value="45,0" />
		<add key="SaturationMaxValue" value="100" />
		<add key="HeartFrequencyMaxValue" value="140" />
		<add key="BreathFrequencyMaxValue" value="30" />
		<add key="BloodPressureMaxValue" value="160" />
		<add key="BatteryMaxValue" value="100" />

		<add key="TemperatureMinAlarmThreasholdValue" value="36,4" />
		<add key="SaturationMinAlarmThreasholdValue" value="95" />
		<add key="HeartFrequencyMinAlarmThreasholdValue" value="60" />
		<add key="BreathFrequencyMinAlarmThreasholdValue" value="12" />
		<add key="BloodPressureMinAlarmThreasholdValue" value="90" />
		<add key="BatteryMinAlarmThreasholdValue" value="20" />

		<add key="TemperatureMaxAlarmThreasholdValue" value="37,2" />
		<add key="HeartFrequencyMaxAlarmThreasholdValue" value="100" />
		<add key="BreathFrequencyMaxAlarmThreasholdValue" value="20" />
		<add key="BloodPressureMaxAlarmThreasholdValue" value="140" />

		<add key="TemperatureUpdateDelta" value="0,3" />
		<add key="SaturationUpdateDelta" value="1" />
		<add key="HeartFrequencyUpdateDelta" value="1" />
		<add key="BreathFrequencyUpdateDelta" value="1" />
		<add key="BloodPressureUpdateDelta" value="1" />
		<add key="BatteryUpdateDelta" value="1" />

		<add key="TemperatureInitValue" value="36,6" />
		<add key="SaturationInitValue" value="99" />
		<add key="HeartFrequencyInitValue" value="80" />
		<add key="BreathFrequencyInitValue" value="14" />
		<add key="BloodPressureInitValue" value="115" />
		<add key="BatteryInitValue" value="100" />

		<add key="TemperatureSensorName" value="Temperature" />
		<add key="SaturationSensorName" value="Saturation" />
		<add key="HeartFrequencySensorName" value="Heart Frequency" />
		<add key="BreathFrequencySensorName" value="Breath Frequency" />
		<add key="BloodPressureSensorName" value="Blood Pressure" />
		<add key="BatterySensorName" value="Battery" />
	</appSettings>
</configuration>