# This is a basic workflow to help you get started with Actions

name: Build and Release CI

# Controls when the workflow will run
on:
  # Triggers the workflow on azure function branch
  push:
    branches: [ azure-function ]

  # Allows you to run this workflow manually from the Actions tab
  workflow_dispatch:
  
env:
 
# A workflow run is made up of one or more jobs that can run sequentially or in parallel
jobs:
  build-and-deploy-app-function:
    runs-on: windows-latest

    env:
      AZURE_FUNCTIONAPP_PACKAGE_PATH: '.\AzureTools\AzureAppFunctions\AppFunctions' # set this to the path to your web app project, defaults to the repository root
      DOTNET_VERSION: '3.1' # set this to the dotnet version to use

    steps:
      - name: 'Checkout GitHub Action'
        uses: actions/checkout@v2

      - name: Setup DotNet ${{ env.DOTNET_VERSION }} Environment
        uses: actions/setup-dotnet@v1
        with:
          dotnet-version: ${{ env.DOTNET_VERSION }}

      - name: 'Resolve Project Dependencies Using Dotnet'
        shell: pwsh
        run: |
          pushd './${{ env.AZURE_FUNCTIONAPP_PACKAGE_PATH }}'
          dotnet build --configuration Release --output ./output
          popd

      - name: 'Run Azure Functions Action'
        uses: Azure/functions-action@v1
        id: fa
        with:
          app-name: 'healthcareIoTHubToDT'
          slot-name: 'Production'
          package: '${{ env.AZURE_FUNCTIONAPP_PACKAGE_PATH }}/output'
          publish-profile: ${{ secrets.AZUREAPPSERVICE_PUBLISHPROFILE_209DF526DE564123BAA37635737D89AB }}
  
